{% extends 'base.html.twig' %}

{% block body %}


  {% if err is defined %}
    <div class="container">
      <a href="{{ path('category_index') }}" class="btn btn-default">Back</a>


      <br><br>
      <h1>You'll get the orphan!</h1>


    </div>
  {% endif %}


{% endblock %}