{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">

    <a href="{{ path('category_new') }}" class="btn btn-primary">Create a new category</a>


    <h1>Categories list</h1>

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      {% for category in categories %}
        <tr>
          <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ category.name }}</a></td>
          <td>{{ category.id }}</td>
          <td>
            <ul>
              <li>
                <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
              </li>
              <li>
                <a href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
              </li>
            </ul>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>


  </div>
{% endblock %}
