{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-6 text-left">
        <li>
            <a href="{{ path('category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
        </li>
            </div>
        <div class="col-md-6 text-right">

            {{ form_start(delete_form, {'attr': {'id': 'article_delete_form'}}) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>

    <h1>Category</h1>
            <ul>
                <li><h2>Name: {{ category.name }}</h2></li>


                <li><h2>Id: {{ category.id }}</h2></li>
            </ul>



    </div>
{% endblock %}
