<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lcb Blog</title>


  {% block stylesheets %}
    <link rel="stylesheet" href=" {{ asset('assets/css/app.css') }}">
    {#Font Awesome#}
    <link rel="stylesheet" href=" {{ asset('assets/vendor/font-awesome/css/font-awesome.css') }}">
    {#Bootstrap social buttons#}
    <link rel="stylesheet" href=" {{ asset('assets/vendor/bootstrap-social/bootstrap-social.css') }}">
  {% endblock %}


</head>

<body>


{% block navbar %}
  {% include('lcbWebBundle:Backend:Home/navbar.html.twig') %}
{% endblock navbar %}

{% block body %}
{% endblock body %}


</body>
{% block javascripts %}
  <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
  <script type="text/javascript" >
    $('#category_delete_form').submit(function(e) {
      return confirm('Do you really want to delete this category?');
    })

    $('#article_delete_form').submit(function(e) {
      return confirm('Do you really want to delete this article?');
    })

  </script>
{% endblock %}

</html>

