<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Bobo admin</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="{{ path('lcb_web_homepage') }}">Home</a></li>
      <li><a href="{{ path('article_index') }}">Articles</a></li>
      <li><a href="{{ path('category_index') }}">Categories</a></li>
      <li><a href="{{ path('comment_index') }}">Comments</a></li>
    </ul>
  </div>
</nav>