{% extends "lcbWebBundle:Frontend:layout.html.twig" %}

{% block body %}
  <div class="container">

    {{ render(controller('lcbArticleBundle:Article:showOnHomepage'))}}


  </div>
{% endblock body %}
