<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ path('lcb_web_homepage') }}">Bobo blog</a>
    </div>
    <ul class="nav navbar-nav">
      {% if app.user %}
        <li><a href="{{ path('article_new') }}">Add Article</a></li>
        <li><a href="{{ path('category_new') }}">Add Category</a></li>
      {% endif %}

    </ul>

    <ul class="nav navbar-nav navbar-right">
      {% if app.user %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hello, {{ app.user.username }} <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <li><a href="{{ path('article_new') }}">Add Article</a></li>
            <li><a href="{{ path('category_new') }}">Add Category</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Profile</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">Sign out</a></li>
          </ul>
        </li>

      {% else %}
        <li><a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i>
            Register</a></li>
        <li><a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i>
            Login</a></li>
      {% endif %}
    </ul>
  </div>
</nav>