{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('article_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6 text-right">
                {{ form_start(delete_form, {'attr': {'id': 'article_delete_form'}}) }}
                <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>

        <h1>Article edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            </br>
            <input type="submit" value="Save" class="btn btn-success"/>
        {{ form_end(edit_form) }}

    </div>
{% endblock %}
