{% extends 'base.html.twig' %}

{% block body %}
        <div class="container">

           <a href="{{ path('article_new') }}" class="btn btn-primary">Create a new article</a>


            <h1>Articles list</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Text</th>
                        <th>Id</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for article in articles %}
                    <tr>
                        <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a></td>
                        <td>{{ article.text }}</td>
                        <td>{{ article.id }}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}
