{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">

            <a href="{{ path('article_index') }}" class="btn btn-default">Back to the list</a>

        <br>
        <h1>Article creation</h1>


        {{ form_start(form) }}
            {{ form_widget(form) }}
        </br>
            <input type="submit" value="Create" class="btn btn-default"/>
        {{ form_end(form) }}

    </div>
{% endblock %}
