{% block body %}
    <div class="container">

        <h1>Articles:</h1>
            {% for article in articles %}
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.title }}</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{ article.text }}
                        <br/>
                        <hr/>
                        Category: {{ article.category }}
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {% if app.user %}

                                    <button class="btn btn-primary" type="button" data-toggle="collapse"                                                        data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                        Add comment
                                    </button>
                                    <div class="collapse" id="collapseExample">
                                        <br><br>
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <form method="post" action="comment/addComment">
                                                        <div class="form-group">
                                                            <input type="text" class="form-control" placeholder="Title"
                                                                   name="comment-title">
                                                        </div>
                                                        <div class="form-group">
                                                            <textarea class="form-control" name="comment-text">Comment</textarea>
                                                        </div>
                                                        <input type="hidden" name="article-id" value="{{ article.id }}">
                                                        <input type="submit" value="Comment" class="btn btn-default">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}

                            </div>
                            <br><br>


                            <div class="col-md-6">
                                <hr>
                                {% for comment in article.comments %}
                                    <div class="well">
                                        <strong>{{ comment.title }}</strong> <br>
                                        {{ comment.text }}
                                    </div>
                                {% endfor %}
                             </div>
                         </div>
                    </div>

                </div>
            {% endfor %}

    </div>
{% endblock %}
