{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 text-left">
                    <a href="{{ path('article_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6 text-right">
                    <a href="{{ path('article_edit', { 'id': article.id }) }}" class="btn btn-primary">Edit</a>
            </div>
        </div>

        <h1>{{ article.title }}</h1>
        <p>{{ article.text }}</p>


    </div>

{% endblock %}
