{% extends 'base.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('comment_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6 text-right">
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <h1>Comment edit</h1>

        {{ form_start(edit_form) }}
            {{ form_widget(edit_form) }}
            <input type="submit" value="Edit" class="btn btn-primary"/>
        {{ form_end(edit_form) }}



    </div>
{% endblock %}
