{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <a href="{{ path('comment_new') }}" class="btn btn-primary">Create a new comment</a>


        <h1>Comments list</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Text</th>
                    <th>Id</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
                <tr>
                    <td><a href="{{ path('comment_show', { 'id': comment.id }) }}">{{ comment.title }}</a></td>
                    <td>{{ comment.text }}</td>
                    <td>{{ comment.id }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('comment_show', { 'id': comment.id }) }}">show</a>
                            </li>
                            <li>
                                <a href="{{ path('comment_edit', { 'id': comment.id }) }}">edit</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
