{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="container">
        <a href="{{ path('comment_index') }}" class="btn btn-default">Back to the list</a>

        <h1>Comment creation</h1>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Create" class="btn btn-default"/>
        {{ form_end(form) }}



    </div>
{% endblock %}
