{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <a href="{{ path('comment_index') }}" class="btn btn-default">Back to the list</a>
            </div>
            <div class="col-md-6 text-right">
                <a href="{{ path('comment_edit', { 'id': comment.id }) }}" class="btn btn-primary">Edit</a>
            </div>

        </div>

        <h1>Comment</h1>

        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Title</th>
                    <td>{{ comment.title }}</td>
                </tr>
                <tr>
                    <th>Text</th>
                    <td>{{ comment.text }}</td>
                </tr>
                <tr>
                    <th>Id</th>
                    <td>{{ comment.id }}</td>
                </tr>
            </tbody>
        </table>


    </div>
{% endblock %}
